@import './custom';

.container {
  @media (min-width: 1400px) {
    max-width: 960px;
  }
}

.card {
  min-height: 80vh;
}

.list-group {
  &-item {
    cursor: pointer;
    min-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sidebar {
  max-height: 50vh;
  overflow-y: auto;

  @media (min-width: 576px) {
    max-height: 70vh;
  }
}